{% extends "base.html.twig" %}

{% block body %}
    <h1>Inscription sur le site</h1>

    {{ form_start(form) }}

    {{ form_row(form.username, {'label':'nom d\'utisateur','attr':{'placeholder':'Nom'}}) }}
    {{ form_row(form.email,{'label':'adresse email','attr':{'placeholder':'adresse email'}}) }}
    {{ form_row(form.password,{'label':'mot de passe','attr':{'placeholder':'mot de passe'}}) }}
    {{ form_row(form.confirm_password,{'label':'confirmation du mot de passe','attr':{'placeholder':'répéter mot de passe'}}) }}

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}
{% endblock %}